*.pth
*.txt
/annotations
/__pycache__
/.vscode
/annotations_trainval2017
/segment-anything
/points_for_sam
/train2017
/pseudo_labels
/coco_minitrain2017
/val2017
/val2017_masks
/coco_minitrain2017_masks
/VOCtrainval_11-May-2012
/voc_pseudomasks_SAM
/voc_pseudomasks_Gdino_SAM
/voc_points
/voc_boxes
/Mask_visualizations
/Result visualizations
*.rar